{% extends 'home.html' %}

{% block title %}BancoNómina - Iniciar Sesión{% endblock %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-3">
            <h1 class="text-center">Autenticación</h1>
            {% if form.errors %}
                <div class="alert alert-danger">
                    <p>Usuario o contraseña incorrectos. Por favor, intenta de nuevo.</p>
                </div>
            {% endif %}
            <form method="post" class="card card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </form>
            <p class="text-center mt-3">
                ¿No tienes una cuenta? <a href="{% url 'core:signup' %}">Regístrate aquí</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}